:root {
  --box-size: 9;
  --cell-size: 36px;
  --paragraph-margin: 16px;
  --text-size: 16px;
}

/**************************************/

h1 {
  margin: 0 0 var(--paragraph-margin) 0;
  font-family: serif;
  font-size: calc(var(--text-size) * 2);
  font-weight: bold;
}

h2 {
  margin: var(--paragraph-margin) 0 var(--paragraph-margin) 0;
  font-family: sans-serif;
  font-size: var(--text-size);
  font-weight: bold;
}

div {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: var(--text-size);
  line-height: calc(var(--text-size) * 1.5);
}

p {
  margin: var(--paragraph-margin) 0 0 0;
  padding: 0;
  font-family: serif;
  font-size: var(--text-size);
  line-height: calc(var(--text-size) * 1.5);
}

em {
  padding: 0 calc(var(--text-size) / 4) 0 calc(var(--text-size) / 4);
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: bold;
  color: #f00;
}

button, select {
  font-family: sans-serif;
  font-size: calc(var(--text-size) - 4px);
}

hr {
  width: 400px;
  height: 1px;
  margin: var(--paragraph-margin) 0 var(--paragraph-margin) 0;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

ul {
  margin: 0;
  padding-left: 1em;
  list-style-position: inside;
}

/**************************************/

.cell {
  box-sizing: border-box;
  cursor: pointer;
  width: var(--cell-size);
  height: var(--cell-size);
  border-top: 2px solid #ddd;
  border-left: 2px solid #ddd;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  padding: 4px;
  font-size: calc(var(--cell-size) - 12px);
  line-height: calc(var(--cell-size) - 12px);
  text-align: center;
  vertical-align: middle;
}

.cell.startable {
  background: linear-gradient(135deg, #0ff, #00f);
}

.cell.color1 {
  background: #fcc;
  color: #f00;
}

.cell.color2 {
  background: #cfc;
  color: #080;
}

.cell.color3 {
  background: #ccf;
  color: #00f;
}

.cell.color4 {
  background: #ccc;
  color: #000;
}

.cell.color5 {
  background: #cef;
  color: #068;
}

.cell.check1 {
  background: linear-gradient(135deg, #ff0, #f00);
}

/**************************************/

#app {
  width: 800px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**************************************/

#board::after {
  display: block;
  content: "";
  clear: both;
}

#board .info {
  margin-left: 16px;
  float: left;
}

/**************************************/

#box {
  width: calc(var(--cell-size) * var(--box-size));
  display: grid;
  grid-template-columns: repeat(var(--box-size), 1fr);
  float: left;
  background-color: #fff;
}

/**************************************/

#next::after {
  display: block;
  content: "";
  clear: both;
}

#next .tiles {
  width: var(--cell-size);
  float: left;
}

#next .remain {
  box-sizing: border-box;
  height: var(--cell-size);
  padding-top: calc((var(--cell-size) - var(--text-size)) / 2);
  color: #f00;
  line-height: var(--text-size);
  font-size: var(--text-size);
  float: left;
}

#next .remain span {
  vertical-align: top;
}
