:root {
  --box-size: 9;
  --cell-size: 36px;
  --paragraph-margin: 16px;
  --text-size: 16px;
}

/**************************************/

h1 {
  margin: 0 0 var(--paragraph-margin) 0;
  font-family: serif;
  font-size: calc(var(--text-size) * 2);
  font-weight: bold;
}

h2 {
  margin: var(--paragraph-margin) 0 var(--paragraph-margin) 0;
  font-family: sans-serif;
  font-size: var(--text-size);
  font-weight: bold;
}

div {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: var(--text-size);
  line-height: calc(var(--text-size) * 1.5);
}

p {
  margin: var(--paragraph-margin) 0 0 0;
  padding: 0;
  font-family: serif;
  font-size: var(--text-size);
  line-height: calc(var(--text-size) * 1.5);
}

em {
  padding: 0 calc(var(--text-size) / 4) 0 calc(var(--text-size) / 4);
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: bold;
  color: #f00;
}

button, select, input {
  font-family: sans-serif;
  font-size: calc(var(--text-size) - 4px);
}

hr {
  width: 400px;
  height: 1px;
  margin: var(--paragraph-margin) 0 var(--paragraph-margin) 0;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

ul {
  margin: 0;
  padding-left: 1em;
  list-style-position: inside;
}

table {
  margin: var(--paragraph-margin) 0 0 0;
  border-collapse: collapse;
}

th, td {
  padding: 4px 8px 4px 8px;
  font-family: serif;
  font-size: var(--text-size);
  line-height: calc(var(--text-size) * 1.5);
  vertical-align: middle;
}

th {
  font-weight: bold;
}

thead th {
  border: 1px solid #aaf;
  background-color: #ccf;
  text-align: center;
}

tbody :matches(th, td) {
  border: 1px solid #aaa;
}

tbody .number {
  text-align: right;
}

tbody tr:nth-child(even) :matches(th, td) {
  background-color: #eef;
}

svg {
  vertical-align: middle;
}

/**************************************/

.anchor {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  text-underline-offset: 2px;
}

/**************************************/

#list .position1 svg {
  fill: #0af;
}

#list .position2 svg {
  fill: #fa0;
}

#list .position3 svg {
  fill: #f00;
}

#list .rating1 svg {
  fill: url(#rating-gradient1);
}

#list .rating2 svg {
  fill: url(#rating-gradient2);
}

#list .rating3 svg {
  fill: url(#rating-gradient3);
}

#list .rating4 svg {
  fill: url(#rating-gradient4);
}

#list .rating5 svg {
  fill: url(#rating-gradient5);
}
