:root {
  --paragraph-margin: 12px;
  --text-size: 12px;
  --form-width: 640px;
  --form-label-width: 48px;
  --form-item-height: 22px;
  --list-height: 75vh;
}

/**************************************/
/* outline */

h1 {
  margin: 0 0 var(--paragraph-margin) 0;
  font-family: serif;
  font-size: calc(var(--text-size) * 2);
  font-weight: bold;
}

h2 {
  margin: var(--paragraph-margin) 0 var(--paragraph-margin) 0;
  font-family: sans-serif;
  font-size: var(--text-size);
  font-weight: bold;
}

div {
  margin: 0;
  padding: 0;
  font-family: serif;
  font-size: var(--text-size);
  line-height: calc(var(--text-size) * 1.5);
}

p {
  margin: var(--paragraph-margin) 0 0 0;
  padding: 0;
  font-family: serif;
  font-size: var(--text-size);
  line-height: calc(var(--text-size) * 1.5);
}

hr {
  width: calc(100vw - 18px);
  height: 1px;
  margin: var(--paragraph-margin) 0 var(--paragraph-margin) 0;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

ul {
  margin: 0;
  padding-left: 1em;
  list-style-position: inside;
}

/**************************************/
/* text & inline */

em {
  padding: 0 calc(var(--text-size) / 4) 0 calc(var(--text-size) / 4);
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  font-weight: bold;
  color: #f00;
}

svg {
  vertical-align: middle;
}

/**************************************/
/* table */

table {
  border-collapse: collapse;
}

th, td {
  box-sizing: border-box; 
  border: 1px solid #aaa;
  padding: 4px 8px 4px 8px;
  font-family: serif;
  font-size: var(--text-size);
  line-height: calc(var(--text-size) * 1.5);
  vertical-align: middle;
}

th {
  font-weight: bold;
}

thead th {
  background-color: #ccc;
  text-align: center;
}

tbody .number {
  text-align: right;
}

tbody tr:nth-child(even) :matches(th, td) {
  background-color: #eee;
}

/**************************************/
/* form */

button, select, input {
  font-family: sans-serif;
  font-size: var(--text-size);
}

fieldset {
  box-sizing: border-box;
  width: var(--form-width);
  border: 1px solid #888;
  border-radius: 4px;
  padding: 8px;
}

fieldset legend {
  margin-left: 8px;
  font-size: var(--text-size);
}

fieldset dl {
  margin: 0;
  padding: 0;
}

fieldset dt {
  box-sizing: border-box;
  display: block;
  float: left;
  clear: left;
  width: var(--form-label-width);
  height: var(--form-item-height);
  margin: 0 8px 8px 0;
  padding: 0;
  font-size: var(--text-size);
  font-weight: bold;
  line-height: var(--form-item-height);
  text-align: right;
}

fieldset dd {
  box-sizing: border-box;
  display: block;
  height: var(--form-item-height);
  margin: 0 0 8px calc(var(--form-label-width) + 8px);
  padding: 0;
  font-size: var(--text-size);
  line-height: var(--form-item-height);
}

fieldset dd input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 0 0 4px;
  vertical-align: top;
}

fieldset dd select {
  box-sizing: border-box;
  margin: 0;
  padding: 0 4px 0 4px;
  vertical-align: top;
}

fieldset dd :matches(input[type="radio"], input[type="checkbox"])+label {
  padding-right: 1em;
  font-size: var(--text-size);
  vertical-align: top;
}

fieldset div.buttons {
  text-align: right;
}

/**************************************/
/* general class */

.anchor {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  text-underline-offset: 2px;
}

/**************************************/
/* list component */

#list {
  height: var(--list-height);
  margin-top: var(--paragraph-margin);
  overflow: auto;
}

#list thead {
  position: sticky;
  top: 0;
}

#list thead th.attack {
  background-color: #cbb;
}

#list thead th.defense {
  background-color: #ccb;
}

#list thead th.assist {
  background-color: #bcb;
}

#list thead th.enhance {
  background-color: #bcc;
}

#list thead th.weaken {
  background-color: #bbc;
}

#list thead th.encumber {
  background-color: #cbc;
}

#list tbody td.name {
  padding-top: calc(var(--text-size) * 0.75 + 5px);
  padding-bottom: calc(var(--text-size) * 0.75 + 5px);
}

#list tbody td.attack {
  background-color: #fee;
}

#list tbody tr:nth-child(even) td.attack {
  background-color: #edd;
}

#list tbody td.defense {
  background-color: #ffe;
}

#list tbody tr:nth-child(even) td.defense {
  background-color: #eed;
}

#list tbody td.assist {
  background-color: #efe;
}

#list tbody tr:nth-child(even) td.assist {
  background-color: #ded;
}

#list tbody td.enhance {
  background-color: #eff;
}

#list tbody tr:nth-child(even) td.enhance {
  background-color: #dee;
}

#list tbody td.weaken {
  background-color: #eef;
}

#list tbody tr:nth-child(even) td.weaken {
  background-color: #dde;
}

#list tbody td.encumber {
  background-color: #fef;
}

#list tbody tr:nth-child(even) td.encumber {
  background-color: #ede;
}

#list .position.no1 svg {
  fill: #0af;
}

#list .position.no2 svg {
  fill: #fa0;
}

#list .position.no3 svg {
  fill: #f00;
}

#list .rating.no1 svg {
  fill: url(#star1);
}

#list .rating.no2 svg {
  fill: url(#star2);
}

#list .rating.no3 svg {
  fill: url(#star3);
}

#list .rating.no4 svg {
  fill: url(#star4);
}

#list .rating.no5 svg {
  fill: url(#star5);
}

/**************************************/
/* search component */

#search select[name="skillgroup"] {
  margin-right: 8px;
}
